@import "_normalize";
@import "_variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


.nav {
  position:fixed; 
  width:100%; 
  z-index:9990; 
  background-color:#fff;
  &__logo {
    position:fixed; 
    width:200px; 
    margin-left:4.75%; 
  }
}

.header__image {
  width: 50%;
}
