@import "_normalize";
@import "_variables";
@import "_mixins";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: rgb(110, 110, 110);
}

.nav {
  position: fixed;
  display: flex;
  width: 100%;
  background-color: #fff;
  height: 100px;
  &__container {
    display: flex;
    width: 100%;
  }
  &__logo {
    position: fixed;
    display: flex;
    align-self: center;
    width: 200px;
    margin-left: 2%;
  }
  &__list {
    display: flex;
    margin-right: 15vh;
    list-style-type: none;
  }
  &__button {
    padding: 15px 25px;
    border-radius: 4px;
    font-size: 1.125em;
    display: inline-block;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    height: 40px;
    width: 70px;
    text-decoration: none;
    &:hover {
      transition: all 0.1s;
      color: $red;
    }
  }
}

.header {
  &__container {
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
  &__title {
    display: flex;
    height: 100px;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    color: white;
    font-weight: 300;
    &--first {
      width: 50%;
      height: 100px;
      background-color: $red;
    }
    &--second {
      width: 50%;
      height: 100px;
      background-color: $blue;
    }
  }
  &__image {
    margin-top: 100px;
    width: 100%;
  }
  &__slant {
    height: 100px;
    margin-top: -16px;
  }
}

.offer {
  &__types {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5vw 4vw 0 4vw;
  }
  &__list {
    list-style: url("../assets/img/list-check.png");
    margin: 0;
    padding: 1.4vw;
  }
  &__item {
    display: list-item;
    font-size: 1.2rem;
    line-height: 3rem;
  }
  &__type {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  &__image {
    width: 120px;
    height: 120px;
    align-self: center;
    &:hover {
      transform: scale(1.15);
      transition: 0.2s;
    }
  }
}

.features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin: 0 5vw 0 5vw;
}

.feature {
  margin: 3vw 0 3vw 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 12vw;
  background-color: #e4e9ec;
  &:hover {
    transform: scale(1.15);
    transition: 0.2s;
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5vw 0 5vw 0;
  width: 100%;
  &__background {
    background-image: url("../assets/img/foto-onas-xl.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    &--second {
      background-image: url("../assets/img/foto-flota-xl.jpg");
    }
  }
  &__motto {
    color: white;
    font-size: 1.8rem;
    line-height: 5rem;
    padding: 0 15vw 0 15vw;
  }
  &__context {
    width: 70%;
    font-size: 1.1rem;
    line-height: 3rem;
    margin: 2vw 0 3vw 0;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 30vw;
  color: white;
  font-size: 1.5rem;
  background: rgb(0, 118, 255);
  background: linear-gradient(34deg, rgba(0, 118, 255, 1) 11%, rgba(223, 77, 84, 1) 77%);
  &__title {
    color: black;
  }
}
